body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;

    background: url('../assets/background_img.jpg') no-repeat center;
    background-size: cover;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}

.container {
    width: 420px;  
    padding: 45px;
    border-radius: 18px;

    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(20px);

    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    color: white;
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px; 
    font-weight: 600;
}

input {
    margin: 12px 0;
    padding: 14px; 
    font-size: 18px; 

    border-radius: 10px;
    background: rgba(255,255,255,0.15);
    color: white;
}

input::placeholder {
    color: #ccc;
}

input:focus {
    background: rgba(255,255,255,0.25);
    transform: scale(1.02);
}

button {
    margin-top: 18px;
    padding: 14px;
    font-size: 18px;

    border-radius: 10px;
    background: linear-gradient(135deg, #1d1f5b, #264564);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

p {
    margin-top: 18px;
    font-size: 18px;
    color: white;
}

a {
    color: #ffd6ff;
    text-decoration: none;
}